{sys, [
       {lib_dirs, ["../apps", "../deps/"]},
       {rel, "rcgs", "1",
        [
         kernel,
         stdlib,
         sasl,
         rcgs
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "rcgs"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, rcgs, [{incl_cond, include}]}
      ]}.

{target_dir, "rcgs"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/rcgs", "bin/rcgs"},
           {template, "files/rcgs-admin", "bin/rcgs-admin"}
           ]}.
